:root {
  --BackgroundWhite: #FFFFFF;
  --DeepBlack: hsla(0, 0%, 2%, 1);
  --LightBlack: hsla(0, 13%, 3%, 1);
  --LightYellow: hsla(41, 100%, 61%, 1);
  --GreenColor: hsla(161, 93%, 23%, 1);
  --OutlineGreen: hsla(161, 93%, 23%, 0.35);
  --LightGreen: hsla(162, 54%, 44%, 1);
  --LightBlue: hsla(164, 35%, 94%, 1);
}

html {
  font-size: 70.5%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  html {
    font-size: 62.6%;
  }
}

body {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  background: var(--BackgroundWhite);
  color: var(--DeepBlack);
  /* font-size: 1.6rem; */
  overflow-x: hidden;
}

@media (max-width: 800px) {
  body {
    font-size: 62.6%;
  }
}



* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Manrope";
  font-weight: 600;
}
ul {
  text-decoration: none;
  /* font-size: 1.8rem; */
}